[submodule "src/PX4-Autopilot"]
	path = src/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "src/mavlink_sitl_gazebo"]
	path = src/mavlink_sitl_gazebo
	url = https://github.com/PX4/PX4-SITL_gazebo.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/ddynamic_reconfigure"]
	path = src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
