<?xml version="1.0" ?>
<model>
    <name>yp_gun</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Bogdan Leshenko</name>
        <email>RossRich@bk.ru</email>
    </author>
    <description>A gun for testing line prediction at drone</description>
</model>
