<?xml version="1.0"?>
<launch>
  <arg name="rviz_cong" default="$(find puzzle_gazebo)/rviz/ballTest.rviz"/>

  <remap from="/mavros/odometry/out" to="/iris_puzzle0/mavros/odometry/out"/>
  <remap from="/mavros/companion_process/status" to="/iris_puzzle0/mavros/companion_process/status"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_baseLink_cameraD435iPose" args="0.12 0 0 0 -0.17 3.14 base_link_frd camera_d435i_link"/>

  <group ns="iris_puzzle0">
    <include file="$(find mavros)/launch/px4.launch"/>
  </group>

  <include file="$(find px4_realsense_bridge)/launch/bridge.launch"></include>
  
  <include file="$(find puzzle_transform)/launch/launcher.launch"/>

  

  <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
    <arg name="enable_fisheye" value="false"/>
    <arg name="camera" value="camera_d435i"/>
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <node name="ball_tracking" pkg="PxSitl" type="BallTrackingNode" output="screen" required="true">
    <param name="color_topic" value="/camera_d435i/color/image_raw"/>
    <param name="depth_topic" value="/camera_d435i/aligned_depth_to_color/image_raw"/>
    <param name="data_config" value="$(find PxSitl)/data/config.yaml"/>
    <param name="filter_gain" value="0.0"/>
    <param name="dt_for_prediction" value="0.01"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cong)" output="screen"/>

  
  
</launch>