<?xml version="1.0"?>
<robot name="drone">

  <material name="transparent">
    <color rgba="1 1 1 0.05"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="gray">
    <color rgba="0.13 0.13 0.13 0.8"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.32 0.4 0.16"/>
      </geometry>
      <material name="transparent"/>
    </visual>
  </link>

  <link name="frame">
    <visual>
      <geometry>
        <box size="0.2 0.07 0.06"/>
      </geometry>
      <origin xyz="0.0 0.0 0.02" rpy="0.0 0.0 0.0"/>
      <material name="green" />
    </visual>
  </link>
  <joint name="frame_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="frame"/>
  </joint>

  <link name="front_left">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.01"/>
      </geometry>
      <origin xyz="0.08 -0.145 0.0" rpy="0.0 0.0 0.0"/>
      <material name="gray"/>
    </visual>
  </link>
  <joint name="prop_fl_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="front_left"/>
  </joint>

  <link name="front_right">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.01"/>
      </geometry>
      <origin xyz="0.08 0.145 0.0" rpy="0.0 0.0 0.0"/>
      <material name="gray"/>
    </visual>
  </link>
  <joint name="prop_fr_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="front_right"/>
  </joint>

  <link name="back_left">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.01"/>
      </geometry>
      <origin xyz="-0.08 -0.11 0.0" rpy="0.0 0.0 0.0"/>
      <material name="gray"/>
    </visual>
  </link>
  <joint name="prop_bl_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="back_left"/>
  </joint>

  <link name="back_right">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.01"/>
      </geometry>
      <origin xyz="-0.08 0.11 0.0" rpy="0.0 0.0 0.0"/>
      <material name="gray"/>
    </visual>
  </link>
  <joint name="prop_br_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="back_right"/>
  </joint>

  <link name="motor_mount_1">
    <visual>
      <geometry>
        <box size="0.3 0.02 0.003"/>
      </geometry>
      <material name="black" />
      <origin xyz="0.0 0.0 -0.003" rpy="0.0 0.0 0.9"/>
    </visual>
  </link>
  <joint name="mm1_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="motor_mount_1"/>
  </joint>

  <link name="motor_mount_2">
    <visual>
      <geometry>
        <box size="0.3 0.02 0.003"/>
      </geometry>
      <material name="black" />
      <origin xyz="0.0 0.0 -0.003" rpy="0.0 0.0 -0.9"/>
    </visual>
  </link>
  <joint name="mm2_to_frame" type="fixed">
    <parent link="frame"/>
    <child link="motor_mount_2"/>
  </joint>

</robot>