<?xml version="1.0"?>
<launch>
  <arg name="rviz_cong" default="$(find puzzle_common)/rviz/ballTest.rviz" />

  <node name="ball_tracking" pkg="puzzle_reaction" type="BallTrackingNode" output="log" required="true">
    <param name="camera_color_topic" value="/camera_d435i/color/image_raw" />
    <param name="camera_depth_topic" value="/camera_d435i/aligned_depth_to_color/image_raw" />
    <param name="camera_info_topic"  value="/camera_d435i/depth/camera_info" />
    <param name="data_config"        value="$(find puzzle_reaction)/data/config.yaml" />
    <param name="filter_gain"        value="0.0" />
    <param name="dt_for_prediction"  value="0.01" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cong)" output="log" />
</launch>