<?xml version="1.0"?>
<launch>
  <arg name="rviz_cong" value="$(find puzzle_gazebo)/rviz/ballTest.rviz"/>

  <node name="ball_tracking" pkg="PxSitl" type="BallTrackingNode" output="screen" required="true">
    <param name="color_topic" value="/camera/color/image_raw"/>
    <param name="depth_topic" value="/camera/aligned_depth_to_color/image_raw"/>
    <param name="data_config" value="$(find PxSitl)/data/config.yaml"/>
    <param name="filter_gain" value="0.0"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cong)" output="screen"/>
</launch>