<?xml version="1.0" ?>
<model>
    <name>YP Gun</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Bogdan Leshenko</name>
        <email>rossrich@bk.ru</email>
    </author>
    <description>The model can rotation along XY- and XYZ-axis to track flying objects</description>
</model>
